  <div class="jumbotron text-center">
    Admin dashboard...!!!
  </div>

  <%= link_to 'Add New Product', new_product_path, class: "btn btn-primary pull-right"  %>

  <div class="container">
    <h2>Products List</h2>  
    <% if @products.present? %>   
    <table class="table table-striped">
      <thead>
        <tr>
         <th>Sl no</th>
         <th>Product name</th>
         <th>Cost price</th>
         <th>Discount</th>
       </tr>
     </thead>
     <% @products.each_with_index do |p, index| %> 
     <tbody>
      <tr>
        <td><%= index+1 %></td>
        <td><%= p.name %></td>
        <td><%= p.cost_price %></td>
        <td><%= p.discount %></td>
        <td><%= link_to 'Modify Product', edit_product_path(p), class: "btn btn-primary"  %></td>
      </tr>
    </tbody>
    <% end %> 
  </table>
  <% end %>
</div>